#header-nav {
background-color: #f6b319;
border-radius: 0;
border: 0;
}
.navbar-brand h1 { /* Restaurant name */
color: #557c3e;
font-size: 1.5em;
text-transform: uppercase;
font-weight: bold;
text-shadow: 1px 1px 1px #222;
margin-top: 0;
margin-bottom: 0;
line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
h2 {
font-size: 1.7em;
font-weight: bold;
}
#collapsable-nav a { /* Collapsed nav menu text */
font-size: 1.3em;
text-align: center;
background-color: white;
border: 1px solid black;
}
.navbar-toggle {
border: 2px solid black;
}
.navbar-brand {
padding-top: 10px;
height: 50px;
}
.title-name {
font-size: 1.3em;
font-weight: bold;
text-align: center;
margin: 5px;

}
.title-content{
border: 10px solid white;
background-color: gray;
}
